# Clock
LOCATE   COMP "clk" SITE "P3";
IOBUF    PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

# Entradas (PULLDOWN, ativo-alto)
LOCATE COMP "I1" SITE "D1";
LOCATE COMP "I2" SITE "C1";
IOBUF  PORT "I1" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF  PORT "I2" IO_TYPE=LVCMOS33 PULLMODE=DOWN;

# Saídas (ativo-alto)
LOCATE COMP "O1" SITE "E2";
IOBUF  PORT "O1" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;