## =================================================================
## RESIDÊNCIA PROFISSIONAL EM FPGA
## EmbarcaTech IFMA MTC
## Discente: Renato da Fonseca Oliveira
## Tarefa FPU7C2
## =================================================================

# Clock
LOCATE   COMP "clk" SITE "P3";
IOBUF    PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

# Entradas (NA, PULLDOWN)
LOCATE COMP "I1" SITE "D1";  IOBUF PORT "I1" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "I2" SITE "C1";  IOBUF PORT "I2" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "I3" SITE "C2";  IOBUF PORT "I3" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "I4" SITE "E3";  IOBUF PORT "I4" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "I5" SITE "B4";  IOBUF PORT "I5" IO_TYPE=LVCMOS33 PULLMODE=DOWN;

# Saídas (ativo-alto, LEDs em cátodo comum)
LOCATE COMP "O1" SITE "E2";  IOBUF PORT "O1" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
LOCATE COMP "O2" SITE "D2";  IOBUF PORT "O2" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
LOCATE COMP "O3" SITE "B1";  IOBUF PORT "O3" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
LOCATE COMP "O4" SITE "A3";  IOBUF PORT "O4" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
LOCATE COMP "O5" SITE "C3";  IOBUF PORT "O5" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
