# Clock
LOCATE   COMP "clk" SITE "P3";
IOBUF    PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

# Entradas (PULLDOWN, ativo-alto)
LOCATE COMP "I1" SITE "D1";
LOCATE COMP "I2" SITE "C1";
LOCATE COMP "I3" SITE "C2";
LOCATE COMP "I4" SITE "E3";
LOCATE COMP "I5" SITE "B4";
IOBUF  PORT "I1" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF  PORT "I2" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF  PORT "I3" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF  PORT "I4" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF  PORT "I5" IO_TYPE=LVCMOS33 PULLMODE=DOWN;

# Saídas (ativo-alto)
LOCATE COMP "O1" SITE "E2";
LOCATE COMP "O2" SITE "D2";
LOCATE COMP "O3" SITE "B1";
LOCATE COMP "O4" SITE "A3";
LOCATE COMP "O5" SITE "C3";
IOBUF  PORT "O1" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
IOBUF  PORT "O2" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
IOBUF  PORT "O3" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
IOBUF  PORT "O4" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
IOBUF  PORT "O5" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
